body {
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/601150/7ca2e1e7893cbd58978cc61ef6806df8113c2ddb.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: white;
}
main {
  display: grid;
  grid-template-columns: 650px 300px;
  width: 1000px;
  gap: 20px;
  background-color: rgba(128, 50, 115, 0.274);
  box-sizing: border-box;

  padding: 30px 10px 0;
}

.foto {
  display: flex;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
}
.efeito {
  position: absolute;
  left: -20px;
  top: -20px;
}
.nick h2,
p {
  margin: 0px;
}
.nick-info {
  display: inline-block;
  margin-bottom: 50px;
}
.level h2 {
  margin: 0px 5px 20px;
}
.level-numero {
  padding: 5px;
  border: 2px solid red;
  border-radius: 50%;
}
.level-insignia {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 20px;
  max-width: 230px;
  align-items: center;
  background-color: rgba(8, 8, 8, 0.425);
  border-radius: 4px;
}
.level-insignia img {
  height: 50px;
  justify-self: center;
  margin-left: 10px;
}
.level-insignia-detalhes h3,
p {
  font-size: 16px;
  grid-column: 2;
  grid-row: 1;
  margin: 10px 0px;
}

.colecionador-de-insignias {
  background-color: rgba(8, 8, 8, 0.425);
  border-radius: 4px;
  height: 250px;
}

.colecionador-de-insignias h2 {
  margin: 0px;
  padding: 10px;
  font-size: 16px;

  background-color: rgba(28, 9, 95, 0.589);
}

.colecionador-de-insignias-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.colecionador-de-insignias-detalhes {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  gap: 50px;
  background-color: rgba(2, 0, 7, 0.589);
}
.numero {
  font-size: 34px;
}

.coluna {
  display: grid;
  grid-column: 2;
  background-color: rgba(2, 0, 7, 0.589);
  border-radius: 4px;
  padding: 10px;
}
.coluna-numero {
  font-size: 24px;
}

.coluna-insignias-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.coluna-info {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.grupo {
  display: grid;

  margin-bottom: 20px;
}

.grupo-destaque {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 80px auto;
}

.grupo-destaque-info a,
p {
  font-size: 12px;
}

.grupos {
  display: grid;
  grid-template-columns: 35px auto;
  margin-top: 10px;
}
.grupos img {
  justify-self: start;
  margin-top: 5px;
}

.grupos-info a,
p {
  margin: 5px;
  font-size: 12px;
}
